@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: 'Noto Sans JP';
  color: #444444;
}

header {
  height: 13rem;
}

header .header-container {
  padding-top: 2.9rem;
  padding-bottom: 2.9rem;
  display: flex;
  width: 118rem;
  justify-content: space-between;
  margin: auto;
}

header .header-container .header-left img {
  width: 26.3rem;
  height: 7.3rem;
  display: inline-block;
  vertical-align: middle;
}

header .header-container .header-right {
  height: 7.3rem;
  font-size: 1.4rem;
}

header .header-container .header-right .phone {
  margin-top: 0.7rem;
  display: flex;
  width: 20rem;
  margin-left: auto;
}

header .header-container .header-right .phone img {
  width: 2.4rem;
  height: 2.5rem;
}

header .header-container .header-right .phone p {
  color: #21A937;
  font-size: 2.4rem;
  margin-left: 0.5rem;
}

.bg_pic {
  background-image: url(img/1474084_m@2x.png);
  height: 94.7rem;
  background-size: cover;
  background-position: center;
  display: flex;
  margin-bottom: 16.2rem;
}

.bg_pic p {
  writing-mode: vertical-rl;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 3.4rem;
  background-color: #FFFFFF;
  width: 10.2rem;
  line-height: 10.2rem;
  height: 56.5rem;
  margin-top: 13.3rem;
  padding-top: 1.8rem;
}

.bg_pic .caption_left {
  margin-right: 8rem;
  margin-left: 21.1rem;
}

.bg_pic .caption_left span {
  color: #21A937;
}

@media (max-width: 480px) {
  .bg_pic {
    width: 100%;
    height: auto;
    background-position: center;
  }
}

.introduction {
  display: flex;
  justify-content: space-between;
  width: 118rem;
  margin: auto;
}

.introduction .salutation h1 {
  background: linear-gradient(transparent 70%, #99E5A5 0%);
  font-size: 2.4rem;
  margin-top: 3.1rem;
  margin-left: 3.1rem;
  display: inline-block;
}

.introduction .salutation p {
  font-size: 1.6rem;
  line-height: 3.8rem;
  margin-left: 3.1rem;
  margin-top: 3.7rem;
}

.introduction img {
  width: 69rem;
  height: 42rem;
  margin-bottom: 3.8rem;
}

@media (max-width: 480px) {
  .introduction {
    display: block;
  }
}

.treatmentContent {
  background-color: #F5FCF8;
  text-align: center;
  padding-top: 7.8rem;
}

.treatmentContent h1 {
  font-size: 2.4rem;
}

.treatmentContent .treat {
  background: linear-gradient(transparent 70%, #99E5A5 0%);
  width: 9.6rem;
  display: inline-block;
  margin-bottom: 7rem;
}

.treatmentContent p {
  font-size: 1.6rem;
}

.treatmentContent .symptom {
  display: flex;
  width: 118rem;
  margin: auto;
  margin-top: 3.4rem;
  justify-content: space-between;
}

.box {
  background-color: #FFFFFF;
  border: 2px solid #C9C9C9;
  border-radius: 10px;
  height: 59.1rem;
  width: 38rem;
  padding-top: 4rem;
  text-align: center;
  position: relative;
}

.box h1 {
  margin-bottom: 4.5rem;
}

.box p {
  line-height: 3.8rem;
  display: inline-block;
  text-align: left;
}

.box img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
}

@media (max-width: 480px) {
  .treatmentContent .symptom {
    display: block;
  }
}

.infomation {
  background-color: #F5FCF8;
  padding-top: 8.2rem;
  padding-bottom: 11.2rem;
  text-align: center;
}

.infomation h1 {
  font-size: 2.4rem;
  background: linear-gradient(transparent 70%, #99E5A5 0%);
  width: 9.6rem;
  margin: auto;
  margin-bottom: 7rem;
}

.infomation .info_contents {
  display: inline-block;
  background-color: #FFFFFF;
  width: 118rem;
  height: 39rem;
  border-radius: 30px;
  padding-top: 4.9rem;
}

.infomation .info_contents table {
  font-size: 1.6rem;
  font-weight: bold;
  width: 104.8rem;
  margin: auto;
  border-collapse: collapse;
}

.infomation .info_contents table tr {
  height: 6.3rem;
}

.infomation .info_contents table tr td {
  border-bottom: 1px solid #E7E7E7;
  line-height: 6.3rem;
}

.infomation .info_contents table tr .date {
  color: #21A937;
  padding-right: 3rem;
}

.infomation .info_contents table tr .title {
  color: #FFFFFF;
  background-color: #444444;
  width: 8rem;
  height: 2.5rem;
  line-height: 2.5rem;
}

.infomation .info_contents table tr .info {
  text-align: left;
  padding-left: 3rem;
}

.infomation .info_contents table .bottom_tr td {
  border: none;
}

.infomation .info_contents table .more {
  text-align: right;
  display: block;
  text-decoration: none;
}

.profile {
  width: 118rem;
  margin: auto;
  display: flex;
  padding-top: 19.6rem;
  padding-bottom: 16.3rem;
}

.profile .map {
  width: 60.8rem;
  height: 44rem;
}

.profile .profile_right {
  padding-left: 3.4rem;
}

.profile .profile_right .profile_logo {
  width: 26.3rem;
  height: 7.3rem;
  margin-bottom: 2.5rem;
}

.profile .profile_right .adoress {
  font-size: 1.6rem;
}

.profile .profile_right .profile_phone {
  display: flex;
  margin-top: 3.221rem;
  margin-bottom: 2.85rem;
}

.profile .profile_right .profile_phone img {
  width: 2.436rem;
  height: 2.457rem;
}

.profile .profile_right .profile_phone .phone_number {
  font-size: 2.4rem;
  color: #21A937;
}

.profile .profile_right .line_top {
  border-bottom: 2px solid #E7E7E7;
  width: 53.3rem;
}

.profile .profile_right .schedule {
  font-size: 1.4rem;
}

.profile .profile_right .schedule .consultation {
  display: flex;
}

.profile .profile_right .schedule .consultation .consultation＿hours {
  height: 9.5rem;
  border-right: 2px solid #E7E7E7;
  margin-top: 1.9rem;
}

.profile .profile_right .schedule .consultation .consultation＿hours p {
  padding-top: 0.25rem;
  padding-right: 2.85rem;
}

.profile .profile_right .schedule .consultation .time_table {
  height: 8.6rem;
  margin-top: 2.15rem;
  margin-left: 2.85rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.profile .profile_right .schedule .consultation .time_table .day_time {
  display: flex;
}

.profile .profile_right .schedule .closed {
  display: flex;
  margin-bottom: 1.9rem;
}

.profile .profile_right .schedule .closed .closed_days {
  height: 2.9rem;
  border-right: 2px solid #E7E7E7;
}

.profile .profile_right .schedule .closed .closed_days p {
  margin-right: 4.25rem;
  line-height: 2.9rem;
}

.profile .profile_right .schedule .closed .holiday {
  margin-left: 2.85rem;
  height: 2.9rem;
  line-height: 2.9rem;
}

.profile .profile_right .copy {
  padding-top: 2.15rem;
  text-align: right;
}
/*# sourceMappingURL=style.css.map */